html, body { height: 100%; padding: 0; margin: 0; }
div { width: 70%; height: 70%; float: left; }
#div1 { background:green; }
#div2 { background:; }
#div3 { background: #DDD; }
#div4 { background: #AAA; }
#div5 { background: #DDD; }
#div6 { background: #AAA; }



h1.one{ color:red;
   font-size:30px;
   text-align:center;
   background-image:asia1.jpg;
   border-style:solid;
   border-width:20px
  
}
 
p.one{
      color:black;
   font-size:30px;
  
   
}
p.two{
      color:red;
   font-size:60px;
     text-align:left;
}
p.three{
      color:red;
   font-size:30px;
   text-align:left;
   
}
p.four{
      color:red;
   font-size:30px;
    text-align:left;
}
p.five{
      color:red;
   font-size:30px;
     text-align:left;
}
p.six{
      color:red;
   font-size:30px;
    text-align:left;
}

